# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environment
venv/
env/
.venv/
.env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Data files
*.csv
*.tsv
*.dat
*.db

# Images and videos
data/
*.jpg
*.jpeg
*.png
*.bmp
*.gif
*.mp4
*.avi

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# Test and output folders
output/
results/
runs*/
ZebraAssist2_YOLO/